/* TODO: do not delete this file, it needs to be replaced with tailwindcss */

.auth-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: 35vh;
  background-image: url('../../../resources/water-backdrop1.jpg');
}

.auth-card {
  position: relative;
  margin: auto;
  width: 80vw;
  max-width: 650px;
  border-radius: 1rem;
  padding: 1rem;
}

.password-container {
  position: relative;
}

.forgot-password {
  position: absolute;
  top: 2px;
  right: 0px;
  color: #00e5e5;
  font-size: smaller;
  padding-inline: 0.25rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 100;
}

.remember-me {
  max-width: fit-content;
  padding-top: 0.5rem;
  margin: auto;
}

.signup-text {
  width: 100%;
  margin: auto;
  margin-top: 0.5rem;
  text-align: center;
}

.signup-text a {
  text-decoration: none;
  color: --ion-color-primary;
}

.auth-buttons {
  margin-top: 1rem;
  position: flex;
  width: 100%;
  text-align: center;
}